.GachaModal {
  background: #fefecc; /* Old browsers */
  background-image: url('../../assets/dotsup.svg'), url('../../assets/dotsdown.svg'), linear-gradient(to bottom, #fefefd 0%, #fff6cc 100%);
  background-repeat: repeat-x, repeat-x;
  background-position: bottom, top;
  background-size: 2rem, 2rem, contain;
  .ModalLeft, .ModalRight {
    padding-top: 1.6vmin;
  }
  .EventNameLogo {
    width: 80%;
  }
}

.TicketContainer {
  position: absolute;
  width: 100%;
  bottom: 2.7vmin;
  left: 0;
  padding-left: 1.1vmax;
  padding-right: 1.1vmax;
  box-sizing: border-box;
  display: flex;
  > .LimitedContainer {
    padding-left: 1rem;
    flex: 1 0 auto;
    > .LimitedLabel {
      text-align: right;
    }
  }
}

.GachaImageContainer {
  position: relative;
  margin-top: 0.75rem;
  border: 1px solid gray;
  width: 100%;
  height: auto;
  overflow: hidden;
  > .DetailsButton {
    position: absolute;
    bottom: 0.5vmax;
    right: 0.5vmax;
    line-height: 3.7vmin;
  }
}

.GachaImage {
  width: 100%;
  vertical-align: middle;
}

.SSButton.GachaPullButton {
  width: 18vmin;
  height: 6.15vmin;
  line-height: 6.15vmin;
  font-size: 1.1em;
}