.VerticalCenter {
    font-size: 2em;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-appear {
    left: 60%;
}

.example-appear.example-appear-active {
    left: 0;
    background-color: green;
    transition: left 200ms ease-in;
}

.GachaLeft {
    position: absolute;
    width: 42%;
    height: 100%;
    padding-left: 2rem;
    padding-top: 1rem;
    left: 0px;
    box-sizing: border-box;
}

.GachaRight {
    position: absolute;
    width: 58%;
    height: 100%;
    right: 0px;
    padding-right: 2rem;
    padding-top: 1rem;
    box-sizing: border-box;
}

.GachaRight > p {
    padding-left: 2rem;
    text-align: left;
}

.GachaImageContainer {
    position: relative;
    margin-top: 1rem;
    border: 1px solid gray;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.GachaImageContainer > .DetailsButton {
    height: 3rem;
    border-radius: 0.5rem;

    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.2rem;
    line-height: 3rem;
}

.GachaImage {
    width: 100%;
    vertical-align: middle;
}

.LimitedContainer {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    height: 30px;
    text-align: left;
}

.LimitedBox {
    position: absolute;
    left: 0;
    background-color: gray;
    border: none;
    border-radius: 10px;
    height: 26px;
    width: 90px;
}

.LimitedLabel {
    position: absolute;
    left: calc(90px);
    width: calc(100% - 90px);
    padding-left: 0.1rem;
    font-size: 1em;
    color: black;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    border-bottom: 1px dotted lightgray;
}