.TabBar {
  width: 100%;
  border: 0.15rem solid black;
  border-radius: 1rem;
  display: flex;
  cursor: pointer;
  position: relative;
  margin-bottom: 1%;

  .Tab {
    border: 1px solid #ddd;
    flex: 1 0 auto;
    font-weight: bold;
    background: white;
    background-image: linear-gradient(to bottom, #eeeeee 0%, #dadada 70%, #aeaeae 100%)
    text-align: center;
    font-size: 1em;
    color: black;
    height: 1.6em;
    line-height: 1.6em;
    align-content: center;
    &:first-child {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    &:last-child {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
    &.active {
      color: white;
      font-weight: normal;
      border-top-color: black;
      border-left-color: black;
      border-right-color: black;
      background: #f68add;
      background-image: linear-gradient(to bottom, #913e7f 0%, #f68add 20%, #cc269e 100%);
      text-shadow: -1px -1px 2px #000,
              1px -1px 2px #000,
              -1px 1px 2px #000,
              1px 1px 2px #000;
    }
  }
}