.sign-video-container{
  position: relative;
  width: 100%;
  height: 100%;
  canvas {
    width: 100%;
    object-fit: cover;
  }
  video {
    width: 100%;
    object-fit: cover;
    display: none;
  }
}
