.Modal {
    border: 0.15rem solid black;
    min-width: 67%;
    min-height: 58%;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.2rem #CCCCCC;
    background: #fefecc; /* Old browsers */
    background-image: url('../../assets/dotsup.svg'), url('../../assets/dotsdown.svg'), linear-gradient(to bottom, #fefefd 0%, #fff6cc 100%);
    background-repeat: repeat-x, repeat-x;
    background-position: bottom, top;
    background-size: 2rem, 2rem, contain;
    position: relative;
}

.Modal-Slide-appear{
    left: 60%;
}

.Modal-Slide-appear.Modal-Slide-appear-active {
    left: 0;
    background-color: green;
    transition: left 200ms ease-in;
}