.SSButton {
  border: 1px solid black;
  box-shadow: 0 0.24vmin 0.305vmin 0 black;
  padding: 0.61vmin 0.62vmax;
  cursor: pointer;
  margin-bottom: 0.24vmin;
  user-select: none;
  border-radius: 0.5rem;
  font-size: 1.6vmin;
  display: inline-block;
  &.active {
    box-shadow: 0 0 0.305vmin 0 black;
    margin-bottom: 0;
    margin-top: 0.24vmin;
  }
  &.Pink {
    color: white;
    background: #f68add;
    background-image: linear-gradient(to bottom, #f68add 0%, #cc269e 100%);
    text-shadow: -0.076vmin -0.076vmin 0.15vmin #000,
            0.076vmin -0.076vmin 0.15vmin #000,
            -0.076vmin 0.076vmin 0.15vmin #000,
            0.076vmin 0.076vmin 0.15vmin #000;
    &.with-bg {
      background-image: url('../../assets/buttonbg.svg'), linear-gradient(to bottom, #f68add 0%, #cc269e 100%);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 100%, contain;
    }
  }
  &.White {
    color: black;
    background: white;
    background-image: linear-gradient(to bottom, #ffffff 0%, #dedede 80%, #aeaeae 100%)
    &.with-bg {
      background-image: url('../../assets/buttonbg_gray.svg'), linear-gradient(to bottom, #ffffff 0%, #dedede 90%, #bbb 100%);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 100%, contain;
    }
  }

}

