.SSButton {
  border: 1px solid black;
  box-shadow: 0 0.2rem 4px 0 black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 0.2rem;
  user-select: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  display: inline-block;
  &.active {
    box-shadow: 0 0 4px 0 black;
    margin-bottom: 0;
    margin-top: 0.2rem;
  }
  &.Pink {
    color: white;
    background: #f68add;
    background-image: linear-gradient(to bottom, #f68add 0%, #cc269e 100%);
    text-shadow: -1px -1px 2px #000,
            1px -1px 2px #000,
            -1px 1px 2px #000,
            1px 1px 2px #000;
    &.with-bg {
      background-image: url('../../assets/buttonbg.svg'), linear-gradient(to bottom, #f68add 0%, #cc269e 100%);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 100%, contain;
    }
  }
  &.White {
    color: black;
    background: white;
    background-image: linear-gradient(to bottom, #ffffff 0%, #dedede 80%, #aeaeae 100%)
    &.with-bg {
      background-image: url('../../assets/buttonbg_gray.svg'), linear-gradient(to bottom, #ffffff 0%, #dedede 90%, #bbb 100%);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 100%, contain;
    }
  }

}

