.character-frame {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform-origin: left top;
  transform: rotateZ(-10deg);
  height: 28%;
  width: 50%;
  transition: all 0.5s linear;
  background-size: contain;
  background-repeat: no-repeat;
  &.stand-by {
    transition: none;
    transform: rotateZ(-10deg) translateX(90vw);
    opacity: 0;
  }
  &.cool {
    background-image: url('./cool_frame.png');
  }
  &.cute {
    background-image: url('./cute_frame.png');
  }
  &.passion {
    background-image: url('./passion_frame.png');
  }
}
