.CogContainer-AnimationContainer {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.CogContainer-AnimationContainer > .CanvasOverlay {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: url('../../assets/cgsymbol_gray.svg') no-repeat center;
    background-size: 30% 30%;
}